/* general styles */
a {
   text-decoration: none;
}

a:visited {
    color: #373737
}
a:hover {
    color: #800020;
    text-decoration: underline;
}
li:hover {
    color: #800020;
}

body {
    
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif, Spartan;
    color: #373738 
}
section {
    display: flex;
    justify-content: center;   
}
.styledHR {
    background-color: #800020;
    width: 75%;
    height: 4px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}
.grayBG {
    position: fixed;
    display: none;
    background-color: gray;
    height: 100%;
    width: 100%;
    opacity: 65%; 
}
.heroImgContainer{
  
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 8px #CECECE;

    
}
.heroImg{
    
    width: 100%;

    
}
.relatedPageLinkContainer {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-bottom: 10px;
    
    
}
.relatedPageLinkContainerContainer {
    display: flex;
    justify-content: center;
}
 .relatedPageLinkContainer a {
    padding: 0px 20px
}
.hobbiePageContent {
    margin: 0px 16px 0px 16px;
}
/* header styles */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px 10px 16px;
    height: 60px;
    box-shadow: 0 4px 2px -2px #CECECE;

       
}
header ul { 
    list-style-type: none;
    
}
nav {
    display: flex;
    flex-direction: row;
}
.mobileNav { display: none;
}
.mobileNav:hover {
    box-shadow: 0px 4px 8px #CECECE;
}
.subNav {
    display: none;
    list-style-type: none;
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    padding: 0px;
    margin: 0;
    z-index: 100;
    max-width: 1200px;
    padding-bottom: 10px;
}
.mobileNav:hover {
    color: #373738;
}
.subNavItem {
    margin-left: 6px;
}
.contactButton {
    border-radius: 8px ;
    background-color: #800020;
    color: white;
}
.contactButton:hover {
    box-shadow: 0px 4px 8px #CECECE;
    color: #fff;
    background-color: #800020;
}
nav ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: baseline;
}
  /* text styles */ 
  b, strong {
    font-weight: bold;
}
p { 
    line-height: 1.5;
    font-weight: 100;
}
h1 {
  font-size: 38px;
  white-space: nowrap;
  font-weight: 100;
}
h2 {
    font-size: 32px;
    white-space: nowrap;
    font-family: share;
}
h2:hover {
    color:#800020;
}

h3 {
    font-size: 22px !important;
}
h4 {
    font-size: 30px;
    white-space: nowrap;
    font-weight: 100; 
}
.heading {
    display: flex;
    justify-content: center;
}
li { 
    padding: 14px 14px; 
    
}
.subHeading {
    display: flex;
    justify-content: center;
}

/* home page styles */




/* about me page styles */
.heading {
    margin: 15px 0px 0px 0px;
}

.aboutMeContent {
    width: 80%;
    padding-bottom: 20px;
}
.aboutMeImg {
   width: 250px;
   float: right;
   margin: 5px 0px 20px 20px;
   border-radius: 8px;
}



.textLink {
    text-decoration: underline;
}
.designIcon:hover {
    transform: scale(1.1); 
    transition: 0.2s;
    
    
}

/* footer styles */
footer {
    background-color: #373738;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:76px;
}
.copyright {
    color: white;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}
footer ul { 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: white;
    list-style-type: none;   
}
.footerIcons {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(300deg) brightness(100%) contrast(104%);
    height: 20px
}

/* media queries */ 
@media (max-width: 690px) {
  header ul { font-size: 14px;}
  h2 {font-size: 28px}
  h1 {font-size: 32px;}

.designIcon {
    width: 60px;
    height: 60px;
    border-radius: 8px;
}
}
@media (max-width: 600px) {
    .aboutMeImg {
        width: 100%;
        margin: 5px 0px 20px 0px; 
     }
    .navCollapse {
        display: none;
    } 
    .mobileNav { 
        display: flex; 
        border-radius: 8px ;
        border-color: #373738 ;
        border-style: inset;
        border-width: thin;
        margin: 0px 10px;
        padding: 13px;
    }
.mainNav {
    padding: 0;
}
    .skills {
       display: flex;
       flex-direction: column;
       box-shadow: 0px 4px 8px #CECECE;
       margin: 10px 0px 20px 0px;
       padding: 10px 0px 10px 0px;
       border-radius: 8px;
} 
    .skillsLeft {
        box-shadow: none;
        
    }
     .skillsCenter {
        box-shadow: none;
    }
    .skillsRight {
        box-shadow: none;
    }
    .skillsList {
       list-style-type: none;
       text-align: center;
       margin: 0;
       padding: 0;
}
    .aboutMeContent {
       width: 90%;
}
}
@media (max-width: 750px) {
    .relatedPageLinkContainer {
        flex-direction: column;
        justify-content: center;
        padding-top: 10px;
    }
    .relatedPageLinkContainer a {
        text-align: center;
        padding-bottom: 10px;
    }
    .styledHR {
        width: 40%;
    }
}